{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8"/>
  <title>СЕРВІС ОБЛІКУ СТУДЕНТІВ</title>
  <meta name="description" 
	 content="Система обліку студентів навчального закладу">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Include Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
</head> 

<body>

<div class="container">

  <!-- Start Header -->
  <div class="row" id="header">
    <!-- Logo -->
    <div class="col-xs-12">
      <div align="center">
        <div id="centerLayer">
          <h2>СЕРВІС ОБЛІКУ СТУДЕНТІВ</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <!-- Start SubHeader -->
  <div class="row" id="sub-header">
    <div class="col-xs-1"></div>
    <div class="col-xs-2">
      <a class="btn btn-success btn-lg" href="{% url "groups" %}" role="button">Групи</a>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
      <a class="btn btn-success btn-lg" href="{% url "students" %}" role="button">Студенти</a>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
      <a class="btn btn-success btn-lg" href="/journal" role="button">Відвідування</a>
    </div>
    <div class="col-xs-1"></div>        
  </div>
  <!-- End SubHeader -->

  <!-- Start Footer -->
  <div class="row" id="footer">
    <div class="col-xs-12">
    <hr>
      &copy; 2016 Сервіс обліку студентів
    </div>
  </div>
  <!-- End Footer -->

</div>
<!-- End Container -->

  <!-- Javascripts Section -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>