{% extends "students/base.html" %}

{% block meta_title %}Журнал відвідування{% endblock meta_title %}

{% block title %}Журнал відвідування{% endblock title %}

{% block content %}

  <!--Start Main Page Content-->
  <div class="row" id="content-columns">
    <div class="col-xs-1"></div>
    <!--Table header-->
    <div class="col-xs-3">
      <h4>Облік відвідування</h4>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-5">
      <h4>
        <a href="#">&larr;</a>&nbsp;Жовтень 2016&nbsp;<a href="#">&rarr;</a>
      </h4>
    </div>
    <div class="col-xs-2"></div>

    <div class="col-xs-12">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>№</th>
            <th>Студент</th>
            <th>Сб</br>1</th>
            <th>Нд</br>2</th>
            <th>Пн</br>3</th>
            <th>Вт</br>4</th>
            <th>Ср</br>5</th>
            <th>Чт</br>6</th>
            <th>Пт</br>7</th>
            <th>Сб</br>8</th>
            <th>Нд</br>9</th>
            <th>Пн</br>10</th>
            <th>Вт</br>11</th>
            <th>Ср</br>12</th>
            <th>Чт</br>13</th>
            <th>Пт</br>14</th>
            <th>Сб</br>15</th>
            <th>Нд</br>16</th>
            <th>Пн</br>17</th>
            <th>Вт</br>18</th>
            <th>Ср</br>19</th>
            <th>Чт</br>20</th>
            <th>Пт</br>21</th>
            <th>Сб</br>22</th>
            <th>Нд</br>23</th>
            <th>Пн</br>24</th>
            <th>Вт</br>25</th>
            <th>Ср</br>26</th>
            <th>Чт</br>27</th>
            <th>Пт</br>28</th>
            <th>Сб</br>29</th>
            <th>Нд</br>30</th>
            <th>Пн</br>31</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a title="Редагувати" href="#">Віталій Подоба</a></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>2</td>
            <td><a title="Редагувати" href="#">Корост Андрій</a></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>3</td>
            <td><a title="Редагувати" href="#">Притула Тарас</a></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox" checked></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
          </tr>
        </tbody>
      </table>
  
    <!--End Students Listing-->
    </div>
  </div>
  <!--End Main Page Content-->

{% endblock content %}