/* Global Styles */
html,
body {
    margin: 10;
    padding: 10;
}

.alert {
  margin: 10px 0 5px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Header */
#header {
    width: 100%;
    box-sizing: border-box;
    padding: 15px; /* Поля */
    background: #fcf8e3; /* Цвет фона */
    border: 1px solid #E81E25; /* Параметры рамки */
}

/* SubHeader */
#sub-header {
    width: 100%;
    box-sizing: border-box;
    padding: 15px; /* Поля */
    background: #fcf8e3; /* Цвет фона */
    border: 1px solid #E81E25; /* Параметры рамки */
}

/* ChoiceMenu */
#choice-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 15px; /* Поля */
    background: #fcf8e3; /* Цвет фона */
    border: 1px solid #E81E25; /* Параметры рамки */
}

/* Groups Selector */
#group-selector {
  margin-top: 30px;
}
#group-selector select {
  width: 60%;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
  color: #555555;
}

/* Footer Styles */
#footer {
  width: 100%;
  color: #333;
}
